name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name:  Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Lint the code
        run: npm run lint
  Test:
    runs-on: ubuntu-latest
    steps:  
      - name: Get the code
        uses: actions/checkout@v3
      - name:  Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Test the code
        run: npm run test
      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: test.json
  Build:
    needs: Test
    runs-on: Ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name:  Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Build the code
        run: npm run build  
      - name: Upload the artifacts
        uses: actions/upload-artifact@v4
        with:
            name: dist-files
            path: dist
  
  Deploy:
    needs: Build
    runs-on: Ubuntu-latest
    steps:
        - name: Download the artifacts
          uses: actions/download-artifact@v4
          with:
            name: dist-files
        - name: Deploy
          run: echo "Deployed to the server"



