name: Deploy Website
on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  MONGODB_DB_NAME: GHA-DEMO
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name:  Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Lint the code
        run: npm run lint
  Test:
    env: # these env variables will be used only in this job
      MONGODB_CLUSTER_ADDRESS : anyadress 
      MONGODB_USERNAME: username
      MONGODB_PASSWORD: password
      PORT: 8080
    runs-on: ubuntu-latest
    steps:  
      - name: Get the code
        uses: actions/checkout@v3
      - name:  Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Run the code
        run: npm start & npx wait-on http://127.0.0.1:$PORT # this is hwo we used the env variable PORT
      - name: Test the code
        run: npm run test
      - name: Output the username
        run: echo "Username is ${{ env.MONGODB_USERNAME }}"  # we can also access env variable like this 
  Build:
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish-file.outputs.script-file }}
    steps:  
      - name: Get the code
        uses: actions/checkout@v3
      - name:  Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: Publish js file name
        id: publish-file
        run: find dist/assets/*.js -type f -execdir echo "script-file={}" >> $GITHUB_OUTPUT ';'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    steps: 
      - name: Download the Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
      - name: List the files
        run: ls
      - name: Show script file name
        run: echo "Script file name is ${{ needs.Build.outputs.script-file }}" 
      - name: Deploy
        run: echo "Depoying to the server...."
  
      