name: Deploy Website
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Install the dependencies
        run: npm ci
      - name: Lint the code
        run: npm run lint
  Test:
    runs-on: ubuntu-latest
    steps:  
      - name: Get the code
        uses: actions/checkout@v3
      - name: Install the dependencies
        run: npm ci
      - name: Test the code
        run: npm run test
  Build:
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish-file.outputs.script-file }}
    steps:  
      - name: Get the code
        uses: actions/checkout@v3
      - name: Install the dependencies
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: Publish js file name
        id: publish-file
        run: find dist/assets/*.js -type f -execdir echo "script-file={}" >> $GITHUB_OUTPUT ';'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    steps: 
      - name: Download the Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
      - name: List the files
        run: ls
      - name: Show script file name
        run: echo "Script file name is ${{ needs.Build.outputs.script-file }}" 
      - name: Deploy
        run: echo "Depoying to the server...."
  
      