name: Deploy
on: push
jobs:    
    Lint:
      runs-on: ubuntu-latest
      steps:
        - name: Get the code
          uses: actions/checkout@v3 
        - name: Installing the dependencies
          run: npm ci
        - name: Linting the code
          run: npm run lint
    Test:
      runs-on: ubuntu-latest
      steps:
        - name: Get the code
          uses: actions/checkout@v3
        - name: Installing the dependencies
          run: npm ci
        - name: Test the code
          run: npm run test

    Deployed:
      runs-on: ubuntu-latest
      steps:
        - name: Get the code
          uses: actions/checkout@v3
        - name: Installing the dependencies
          run: npm ci
        - name: Building the code
          run: npm run build
        - name: Deploy the code
          run: echo "Code Deploy"
        