name: Deploy Website
on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  MONGODB_DB_NAME: GHA-DEMO
jobs:
  Lint:
    runs-on: ubuntu-latest
    container:
      image: node:16
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Lint the code
        run: npm run lint
  Test:
    # environment: testing # name of thwe environment created in github environment section
    runs-on: ubuntu-latest
    container:
      image: node:16
    env: # these env variables will be used only in this job
      MONGODB_CONNECTION_PROTOCOL: mongodb
      MONGODB_CLUSTER_ADDRESS: mongodb # here now we are using service name as address now it would be connected to that  service
      MONGODB_USERNAME: root # we are using github secret here
      MONGODB_PASSWORD: example # we are using github secret here
      PORT: 8080
    services:
        mongodb:
            image: mongo
            env: 
                MONGO_INITDB_ROOT_USERNAME: root
                MONGO_INITDB_ROOT_PASSWORD: example

    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Run the code
        run: npm start & npx wait-on http://127.0.0.1:$PORT # this is hwo we used the env variable PORT
      - name: Test the code
        run: npm run test
      - name: Output the username
        run: echo "Username is ${{ env.MONGODB_USERNAME }}" # we can also access env variable like this
        # after storing env in github seecrets we cannot see the value here it will be hidden
  Build:
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish-file.outputs.script-file }}
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: depsnode-node-${{ hashFiles('**/package-lock.json') }}
      - name: Install the dependencies
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: Publish js file name
        id: publish-file
        run: find dist/assets/*.js -type f -execdir echo "script-file={}" >> $GITHUB_OUTPUT ';'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download the Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
      - name: List the files
        run: ls
      - name: Show script file name
        run: echo "Script file name is ${{ needs.Build.outputs.script-file }}"
      - name: Deploy
        run: echo "Depoying to the server...."
